<h2 class="header">Customer information</h2>
 <table class="table well">
    <tbody>
        <tr>
            <th>First name</th>
            <td>{{user.name.first}}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{user.name.last}}</td>
        </tr>
        <tr>
            <th>Birth Day</th>
            <td>{{user.dateOfBirth| date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
            <th>Company name</th>
            <td>{{user.companyName}}</td>
        </tr>
        <tr>
            <th>Mobile phone</th>
            <td>{{user.phone.mobile}}</td>
        </tr>
        <tr>
            <th>Work phone</th>
            <td>{{user.phone.work}}</td>
        </tr>
        <tr>
            <th>Skype</th>
            <td>{{user.skype}}</td>
        </tr>
       
    </tbody>
</table>


<a href="#/userlist" class="btn btn-info">Back to list</a>