<h2 class="header">Customers list</h2>
 
<table class="table table-hover" ng-init="initFirst()">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birth day</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in people">
            <td>{{$index+1}}</td>
            <td>{{person.name.first}}</td>
            <td>{{person.name.last}}</td>
            <td>{{person.dateOfBirth| date:'dd/MM/yyyy'}}</td>
            <td>
                <a href="#"  ng-click="deletePerson(person)" class="btn btn-danger">delete</a>
                <a href="#/editcustomer/{{$index}}" class="btn btn-warning">edit</a>
                <a href="#/showcustomer/{{$index}}" class="btn btn-info">info</a>
            </td>
          
          
        </tr>
      </tbody>
    </table>
<hr>

<a href="#/adduser" ng-click="showUserScope()" class="btn btn-success">Add new customer</a>