<h2 class="header">Add new customer</h2>
<div class="col-md-4"></div>
<div class="col-md-5 well" ng-init="clearSource()">
    <div class="">
        <label >First Name</label>
        <input type="text" class="form-control"  ng-model="user.name.first" value=""/><br/>
    </div>
    <div class="">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" type="text"   ng-model="user.name.last" /><br/>
    </div>
    <div class="">
        <label>Birthday</label>
        <input  type="text" class="form-control"  ng-model="user.dateOfBirth" jqdatepicker/><br/>
    </div>
    <div class="">
        <label>Company Name</label>
        <input type="text"  class="form-control"  ng-model="user.companyName" /><br/>
    </div>
    <div class="">
        <label>Mobile phone</label>
        <input type="text"  class="form-control" ng-model="user.phone.mobile" /><br/>
    </div>
    <div class="">
        <label>Work phone</label>
        <input type="text"  class="form-control" ng-model="user.phone.work" /><br/>
    </div>
    <div class="">
        <label>Skype</label>
        <input type="text"  class="form-control" ng-model="user.skype" /><br/>
    </div>
    <input type="button" ng-click="addChangesToPerson()" value="{{action}}" class="btn btn-success" ng-disabled="!(!!user.name.first && !!user.name.last)"/>
    <a href="#/userlist" class="btn btn-info" ng-click="showUserScope()">Back to list</a>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>